# On widnows requirements with specific version PyQt throws an error
# ERROR: Could not find a version that satisfies the requirement PyQt5==5.13.0 
# PyQt5==5.13.0
# PyQt5-sip==12.7.0

#Because of that we need to import any version above used during creating of this project
PyQt5>=5.13.0